.main {
    height: calc(100% - 101px - 25px - 6px);
}

.main-contents {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.auth-header {
    text-align: center;
    color: white;
    position: relative;
    top: 18px;
    font-size: 300%;
}
.auth-form {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 200%;
    text-align: center;

    input {
        font-size: 60%;
    }

    button[type="submit"] {
        font-size: 60%;
        padding: 3px 13px;
    }
}